
$guru-orange:#ee7752;
$guru-pink: #e73c7e;
$guru-blue: #23a6d5;
$guru-green: #23d5ab;

//variables;
$header-height: 4rem;

@mixin mobile($orientation: portrait) {

	@if $orientation == portrait {
		@media only screen
		and (min-device-width: 300px)
		and (max-device-width: 1023px)
		and (orientation: portrait) {
			@content;
		}
	}
	@if $orientation == landscape {
		@media only screen
		and (min-device-width: 300px)
		and (max-device-width: 1023px)
		and (orientation: landscape) {
			@content;
		}
  }
}

@mixin web() {
  @media only screen
  and (min-device-width: 1024px) {
    @content;
  }
}
